* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #5A7EFD;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding: 18px 0;
    }

body {
    font-family: 'Poppins', sans-serif;
}

.cabecalho-imagem {
    width: 30%;
    }

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    padding: 10px 0;
    font-size: 22px;
    }

.escola-imagem{
    width:35%;
    }

.escola{
    color: #5a7efd;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 24px 0;
    }

.escola-titulo {
    padding: 24px 0;
}

.escola-conteudo{
    width: 35%;
}

.escola-div-conteudo{
    width: 35%;
}

.estudante-imagem{
    width: 130px;
}
    