* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #5A7EFD;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding: 18px 0;
    }

body {
    font-family: 'Poppins', sans-serif;
}

.cabecalho-imagem {
    width: 30%;
    }

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    padding: 10px 0;
    font-size: 22px;
    }

.escola-imagem{
    width:40%;
    margin-left: 30px;
    margin-right: 30px;
    }

.escola{
    color: #5a7efd;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 24px 0;
    background-color: rgb(255, 255, 255);
    }

.escola-titulo {
    padding: 24px 0;
    font-size: 28px;
}

.escola-texto-um{
    font-size: 23px;
}

.escola-texto-dois{
    font-size: 23px;
}

.escola-conteudo{
    width: 35%;
}

.escola-div-conteudo{
    width: 35%;
}

.estudante-imagem{
    width: 130px;
}


.estudante-div{
    text-align: center;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
    color: white;
    font-size: 30px;
}

.estudante-todo{
    display: grid;
    grid-template-columns: 17% 17% 17% 17% 17%;
    margin: 20px 0;
}

.estudante{
    text-align: center;
    background-color: #5a7efd;
    margin-top: 40px;
}

.estudante-nome{
    color: white;
    margin-bottom: 50px;
}

.rodape{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px 0;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
}
