header{
    background-color: #5A7EFD;
    color: white;
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 75%;
}

.cabecalho-item-liste{
    display: inline-block
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}

* {
    margin: 0
    padding: 0
}


.conteudo {
    margin-top: 20px;
    text-align: center;
    padding: 50px;
    font-family: "Arial Black", Arial, sans-serif;
    color:#5A7EFD;
}
